<%- include('./partials/header.ejs') %>

<h1 class="mb-4">Trang Chủ</h1>

<main class="container-fluid" id="home">
  <h1 class="text-center">Quên Mật Khẩu</h1>
  <form action="/login" method="POST" id="id-forget">
    <h1 class="text-center">CHỨC NĂNG NÀY ĐANG ĐƯỢC BẢO TRÌ QUAY LẠI SAU NHÉ !!!</h1>
  </form>
</main>

<%- include('./partials/footer.ejs') %>