<%- include('./partials/header.ejs') %>

<h1 class="mb-4">Trang Chủ</h1>

<main class="container-fluid" id="home">
  <h1 class="text-center">ĐĂNG KÝ</h1>
  <form action="/login" method="POST" id="id-register">
    <div class="form-group mb-3">
      <label for="">Tên Đăng Nhập</label>
      <input type="text" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Mật Khẩu</label>
      <input type="password" name="password" class="form-control">
    </div>
    <button>Đăng Ký</button>
  </form>
</main>

<%- include('./partials/footer.ejs') %>